<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="main">
    <f:security.ifAuthenticated>
        <f:render partial="Bookmark/{f:if(condition: isPageFavorite, then: 'Removelink', else: 'Addlink')}"
                  arguments="{identificatorValue: identificatorValue}" />
        <f:image class="ajax-loader" src="typo3conf/ext/pxa_feuserbookmarks/Resources/Public/Images/ajax-loader.gif" />
    </f:security.ifAuthenticated>
</f:section>
</html>