<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<f:if condition="{isVisible}">
	<f:if condition="{isPageFavorite}">
	  <f:then>
	    <f:render partial="Bookmark/Removelink" arguments="{identificatorValue: identificatorValue}" />
	  </f:then>
	  <f:else>
	  	<f:render partial="Bookmark/Addlink" arguments="{params: params, identificatorValue: identificatorValue}" />
	  </f:else>
	</f:if>
	<f:image class="ajax-loader" src="typo3conf/ext/pxa_feuserbookmarks/Resources/Public/Images/ajax-loader.gif"/>
</f:if>
</f:section>