<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:pxa="http://typo3.org/ns/Pixelant/PxaFeuserbookmarks/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />


<f:section name="main">
    <f:security.ifAuthenticated>
        <h2>
            <f:translate key="header_list" />
        </h2>

        <f:if condition="{bookmarks}">
            <f:then>
                <ul class="list-bookmarks">
                    <f:for each="{bookmarks}" as="bookmark">
                        <li>
                            <pxa:bookmarkUrl settings="{settings}" bookmark="{bookmark}">
                                {bookmark.title}
                            </pxa:bookmarkUrl>
                            <f:link.action action="remove"
                                           arguments="{pageId: bookmark.pageid, identificatorValue: bookmark.specialIdentificator}">
                                <f:translate key="delete" />
                            </f:link.action>
                        </li>
                    </f:for>
                </ul>
            </f:then>
            <f:else>
                <f:translate key="no_bookmarks" />
            </f:else>
        </f:if>
    </f:security.ifAuthenticated>
</f:section>
</html>
